<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Kosugi"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<title>カート</title>
</head>
<body>
	<span th:replace="topMenu"></span>

	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<table class="ml-30 orderHistory kodai-table">
		<!-- タイトル -->
		<tr>
			<th>商品名</th>
			<th>値段</th>
			<th>個数</th>
			<th>小計</th>
		</tr>

		<!-- アイテムの一覧 -->
		<tr th:each="items:${items}">
			<td th:text="${items.value.name}"></td>
			<td th:text="${items.value.price}"></td>
			<td th:text="${items.value.quantity}"></td>
			<td th:text="${items.value.price * items.value.quantity}"></td>
			<td><a th:href="|/cart/delete/${items.value.id}|"><button>削除</button></a></td>
		</tr>

		<!-- 総計 -->
		<tr>
			<td colspan="5" align="right" th:text="|総計:${total}|"></td>
		</tr>

	</table>

	<div style="text-align: center;">
		<a href="/order">
			<button>購入確認</button>
		</a>
	</div>
	
	<footer>
		<p>&copy;hayanoshopping</p>
	</footer>

</body>
</html>