<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Kosugi"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<title>登録情報の変更</title>
</head>
<body>
	<span th:replace="topMenu"></span>
	<br>
	<br>
	<br>
	<h1>登録情報更新</h1>

	<!-- エラーメッセージ -->
	<span th:text="${message}" style="color: red;"></span>

	<form th:action="|/editUser|" method="post">
		<table border="1">
			<tr>
				<th>お名前</th>
				<td><input type="text" name="name" th:value="${userInfo.name}" /></td>
			</tr>
			<tr>
				<th>お届け先</th>
				<td><input type="text" name="address"
					th:value="${userInfo.address}" /></td>
			</tr>
			<tr>
				<th>電話番号</th>
				<td><input type="text" name="tell" th:value="${userInfo.tell}" /></td>
			</tr>
			<tr>
				<th>e-mail</th>
				<td th:text="${userInfo.email}"></td>
			</tr>
			<tr>
				<th>パスワード</th>
				<td><input type="text" name="password"
					th:value="${userInfo.password}" /></td>
			</tr>
		</table>
		<input class="original-button" type="submit" value="更新">
	</form>

	<footer>
		<p>&copy;HayanoShopping</p>
	</footer>

</body>
</html>