<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>購入履歴</title>
</head>
<body>
	<a href="/logout">ログアウト</a>
	<a href="/cart"> カートを見る </a>
	<a href="/mypage">マイページ</a>

	<table border="1">
		<tr>
			<th>注文日</th>
			<th>商品</th>
			<th>小計</th>
		</tr>

		<tr th:each="orderHistory : ${orderHistories}">
			<!-- オーダー情報の表示  -->
			<td th:text="${orderHistory.order.orderedDate}"></td>
			
			<td>
				<ul th:each="orderDetailHistory : ${orderHistory.orderDetails}">
					<!-- <li th:text="${orderDetailHistory.orderDetail.id}"></li> -->
					<li th:if="orderDetailHistory.item != null" th:text="${orderDetailHistory.item.name}"></li>
				</ul>
			</td>
			<td th:text="${orderHistory.order.totalPrice}"></td>
		
		<!-- <td th:text="${ordered.id}"></td>
			<td th:text="${ordered.ordered_date}"></td>
			<td th:text="${#dates.format(ordered, 'yyyy-MM-dd')"></td>
			<td th:text="${ordered.total_price}"></td> -->
		</tr>
	</table>
</body>
</html>