<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/main.css}">
<title>購入履歴</title>
</head>
<body>
	<a href="/logout">ログアウト</a>
	<a href="/cart"> カートを見る </a>
	<a href="/mypage">マイページ</a>

		<!-- 注文情報を表示するための見出し -->
	<table border="1" class="ml-30 orderHistory">
		<tr>
			<th class="pl-15 pr-15  pt-15">注文日</th>
			<th class="pl-15 pr-15 pt-15">商品</th>
			<th class="pl-15 pr-15  pt-15">小計</th>
		</tr>

		<tr th:each="orderHistory : ${orderHistories}">
			<!-- オーダー情報の表示  -->
			<td
				th:text="${#dates.format(orderHistory.order.orderedDate, 'yyyy-MM-dd')}"
				class="pl-15 pr-15 pb-15 pt-15"></td>

			<td class="pl-15 pr-15 pb-15 pt-15">
				<ul th:each="orderDetailHistory : ${orderHistory.orderDetails}">
					<li th:if="orderDetailHistory.item != null"
						th:text="${orderDetailHistory.item.name}"></li>
				</ul>
			</td>
			<td th:text="${orderHistory.order.totalPrice}"
				class="pl-15 pr-15 pb-15 pt-15"></td>
		</tr>
	</table>

</body>
</html>