<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Kosugi"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<title>商品一覧</title>
</head>
<body>
	<span th:replace="topMenu"></span>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<form action="/search" method="post" class="search_container">
		<input type="text" name="searchWord"> <input type="submit"
			value="検索" />
	</form>

	<div class="itemview-2">
		<!-- このdivにeach属性をつけてあげてください -->
		<div th:each="items:${items}">
			<div class="imgdiv">
				<img th:src="|/${items.image}|" />
			</div>
			<p class="title" th:text="${items.name}"></p>
			<p>
				<span th:text="${items.price}+ 円"></span>
			</p>
			<!-- 改行が必要なごとに、pタグでパーテーションを作成してください -->

			<div class="buttons">
				<!-- 必要なボタンをこちらに配置してください -->
				<a th:href="|/itemDetail/${items.id}|">
					<button>詳細画面へ</button>
				</a> <a th:href="|/cart/add/${items.id}|">
					<button>カートに追加</button>
				</a>
			</div>
		</div>
	</div>

	<footer>
		<p>&copy;hayanoshopping</p>
	</footer>
</body>

</html>
