<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Kosugi"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<title>マイページ</title>
</head>
<body>
	<span th:replace="topMenu"></span>
	<hr>
	<hr>
	<hr>
	<hr>
	<hr>
	<div class="element">
		<h2>お客様情報</h2>
		<table>
			<tr>
				<td>お名前</td>
				<td th:text="${userInfo.name}"></td>
			</tr>
			<tr>
				<td>お届け先</td>
				<td th:text="${userInfo.address}"></td>
			</tr>
			<tr>
				<td>電話番号</td>
				<td th:text="${userInfo.tell}"></td>
			</tr>
			<tr>
				<td>e-mail</td>
				<td th:text="${userInfo.email}"></td>
			</tr>
			<tr>
				<td>パスワード</td>
				<td th:text="${userInfo.password}"></td>
			</tr>
		</table>

		<a href="/editUser"> 登録情報の変更 </a>
	</div>

	<footer>
		<p>&copy;hayanoshopping</p>
	</footer>
</body>
</html>