<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>新規登録</title>
</head>
<body>
	<h1>新規登録</h1>
	
	<!-- エラーメッセージ -->
	<span th:text="${message}" style="color: red;"></span>

	<!-- 登録フォーム -->
	<form action="/signup" method="post">

		<input type="text" name="name" placeholder="名前" /> <br> <input
			type="text" name="email" placeholder="メールアドレス" /> <br> <input
			type="text" name="tell" placeholder="電話番号" /> <br> <input
			type="text" name="address" placeholder="住所" /> <br> <input
			type="text" name="password" placeholder="パスワード" /> <br> <input
			type="submit" value="登録" />
	</form>

</body>
</html>